.profile {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &-image {
    img {
      height: 400px !important;
      width: auto !important;

      @media (max-width: 600px) {
        height: 200px !important;
      }
    }
  }

  &-content {
    h1 {
      font-size: 5rem !important;

      @media (max-width: 600px) {
        font-size: 3rem !important;
      }
    }

    p {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 600px) {
    justify-content: center;
    flex-direction: column;
  }
}
